*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#hdr{
    background: greenyellow;
    padding: 1px;
}
p{
    text-align: center;
}
body{
   /* background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(36,76,117,1) 100%); */
   background: white;
}
h2{
    text-align: center;
}

input[type=text],input[type=tel],input[type=email],select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
} 

label {
    padding: 12px 12px 12px 0;/*padding-top, padding-right, padding-bottom, and padding-left*/
    display: inline-block;/*crear una cuadrícula de cajas que llene el navegador armoniosamente*/
    float: right;
} 

input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:  right;
}
.container{
    border-radius: 5px;
    /*background:linear-gradient(0deg, rgba(34,193,195,0.8) 20%, rgba(255,171,13,0.8) 78%); */
    /*background: radial-gradient(circle, rgba(238,174,202,0.5) 0%, rgba(111,153,197,0.5) 100%);     */
    background: orange;
    padding: 20px;
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-100{
    float: left;
    width: 100%;
    margin-top: 16px;
}

.boton_menu{
    text-decoration: none;
    padding: 5px;
    font-weight: 200;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.boton_menu:hover{
    color:black;
    background-color: #ffffff;
}

.boton{
    padding-top: 15px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}
.mayusculas{
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
    
    .col-25,.col-75,input[type=submit]{
        width: 100%;
        margin-top: 0;
    }

    label {
    padding: 12px 12px 12px 0;/*padding-top, padding-right, padding-bottom, and padding-left*/
    display: inline-block;/*crear una cuadrícula de cajas que llene el navegador armoniosamente*/
    float: left;
    }
}